.divbox {
  max-width: 500px;
  width: 70%;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  margin: auto
}

.mytable {
  border-collapse;
}

.myth {
  padding: 0.5rem;
  text-align: left;
  border-right: solid 1px #f00;
  border-left: solid 1px #f00;
}

.mytr {
  border-right: solid 1px #f00;
  border-left: solid 1px #f00;
  padding: 0.5rem;
  text-align: left;
}
